<br>
<div class="jumbotron">
  <h4 class="title"> Login </h4>
  <br>
  <div class="container">
    <form class="row" (submit)="updateLoginForm()">
      <div class="centerDiv">
        <div class="input-group">
          <input placeholder="Username" id="username" [formControl]="userForm"
                 class="form-control" [ngClass]="{'is-invalid': isUser}"/>
          <div *ngIf="isUser" class="invalid-feedback">
            Username cannot be empty
          </div>
        </div>
        <br>
        <div class="input-group">
          <input type="password" placeholder="Password" [formControl]="passwordForm"
                 class="form-control" [ngClass]="{'is-invalid': isPass}"/>
          <div *ngIf="isPass" class="invalid-feedback">
            Password cannot be empty
          </div>
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-dark">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
